@charset "utf-8";

*{
  margin: 0px;
  padding: 0px;
}

html {
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

.wrapper{
  background-image: url("images/blue-enogu.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
}

/* 中央寄せは position: absolute; を使う。詳しくは検索 */

.container {
  text-align: center;
  width: 250px;
  height: 480px;

  position: absolute;
  margin: auto auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.container .photo {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  /* 画像自体を丸く切らなくても、border-radiusで角の半径を指定すると丸くなる*/
}

/* pになってたけど、結局nameクラスだけなので明示的にnameクラスを指した方がいい */
.container .name {
  font-family: Orator Std;
  margin-top:40px;
  color: #4B4B4B;
}

.container .name span{
  display: block;
  font-family: Orator Std;
  font-size: 45px;
  line-height: 50px;
}

.sns-icon{
  display: block;
  margin-top: 30px;
  text-align: center;
}

.sns-icon a {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.sns-icon a:last-child {
  margin-right: 0;
}

.sns-icon a img {
  width: 48px;
  height; 32px;
}
